<!DOCTYPE html>
<html>
<head>
    <title>Bits of Bytes: Form Generator</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    
    
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.13.1/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.13.1/dist/third-party.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.13.1/dist/main.css">

    <script src="./dist/v-jsoneditor.min.js"></script>
</head>

<body>
    <v-app id="app">

        <v-app-bar
            dark
            shrink-on-scroll
            src="http://balat.kikirpa.be/image/thumbnail/X126922.jpg">
            <v-btn plain href="/">
                <v-icon left>mdi-chevron-left</v-icon>
                Other Bits of Bytes
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title>JSON Schema Form Generator</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn plain href="https://github.com/KIKIRPA/form-generator" target="_blank">
                Code on GitHub
                <v-icon right>mdi-github</v-icon>
            </v-btn>
        </v-app-bar>

        <v-container>
            <v-card class="mt-6">
                <v-card-title>
                    <v-tabs 
                        v-model="tab" 
                        v-if="!dataEntry"
                        grow
                    >
                        <v-tab><v-icon>mdi-information-outline</v-icon></v-tab>
                        <v-tab>Schema</v-tab>
                        <v-tab>Form</v-tab>
                        <v-tab>Instance</v-tab>
                    </v-tabs>
                </v-card-title>
                <v-card-text v-if="tab === 0">
                    <br/>
                    <h2>JSON Schema Form Generator</h2><br/>
                    <p>
                        This tool is built specifically as an aid for writing <a href="https://json-schema.org/">JSON schemas</a> for describing metadata and paradata of heritage science datasets. JSON schemas define the precise format in which the meta- and paradata will be stored in the form of JSON, which is particularly useful for the diverse nature of datasets in heritage science. 
                        
                    </p>
                    <p>
                        Internally, it uses <a href="https://koumoul-dev.github.io/vuetify-jsonschema-form/latest/">VJSF</a>, a component for Vue.js and Vuetify.
                        Besides standard JSON schema, VJSF supports a few additional properties, mainly for rendering purposes.
                    </p>
                    <p>
                        To get started, put a valid JSON schema in the editor on the "Schema" tab. 
                        VJSF will automatically generate a form, that can be viewed on the "Form" tab. 
                        Data entered in the form will automatically entered in the instance (in JSON format), which can be viewed on the "Instance" tab.
                        Conversely, data entered in the instance editor will automatically be entered in the form.
                    </p>
                    <p>
                        No data is sent to the server. Both the schema and the instance are living locally in your browser.
                    </p><br/>
                    <h2>Options</h2>
                    <v-switch
                        v-model="options.useValidator"
                        label="Use external library to validate the form"
                        color="primary"></v-switch>
                    <small>
                        VJSF has basic validation built-in, but this does not support more complex types of form validation, e.g. if/then/else syntax or anyOf syntax.
                        When a more thorough validation of the form data is required, an external JSON schema validator such as <a href="https://github.com/ajv-validator/ajv">AJV</a> can be used.
                        The messages will often be less intuitive than when they are created by vjsf itself based on simple rules, but this mechanism can help prevent outputting invalid data.
                    </small>
                    <br />
                    <v-radio-group v-model="options.rootDisplay">
                        <template v-slot:label>
                            <div>Display mode for objects:</div>
                        </template>
                        <v-radio value="">
                            <template v-slot:label>
                                <div>Inline</div>
                            </template>
                        </v-radio>
                        <v-radio value="tabs">
                            <template v-slot:label>
                                <div>As tabs</div>
                            </template>
                        </v-radio>
                        <v-radio value="expansion-panels">
                            <template v-slot:label>
                                <div>As expansion panels</div>
                            </template>
                        </v-radio>
                        <v-radio value="stepper">
                            <template v-slot:label>
                                <div>As horizontal stepper</div>
                            </template>
                        </v-radio>
                        <v-radio value="vertical-stepper">
                            <template v-slot:label>
                                <div>As vertical stepper</div>
                            </template>
                        </v-radio>
                    </v-radio-group>
                    <v-radio-group v-model="options.editMode">
                        <template v-slot:label>
                            <div>Display mode for arrays:</div>
                        </template>
                        <v-radio value="inline">
                            <template v-slot:label>
                                <div>Inline</div>
                            </template>
                        </v-radio>
                        <v-radio value="dialog">
                            <template v-slot:label>
                                <div>In a dialog window</div>
                            </template>
                        </v-radio>
                    </v-radio-group>
                    <br/>
                    <h2>Credits</h2><br/>
                    <ul>
                        <li><a href="https://github.com/koumoul-dev/vuetify-jsonschema-form">VJSF</a> by Alban Mouton</li>
                        <li><a href="https://github.com/yansenlei/VJsoneditor">v-jsoneditor</a> by yansenlei</li>
                    </ul>
                </v-card-text>

                <v-card-text v-if="tab === 1">
                    <br/>
                    <h2>Load an existing JSON schema</h2><br/>
                    <div>
                        Branch/tag/commit: <span v-text="branch" class="font-italic"></span>
                    </div>
                    <div class="d-flex">
                        <v-autocomplete
                            class="mr-4"
                            v-model="schemaPath"
                            :items="schemaList"
                            clearable
                            @change="getSchema"></v-autocomplete>
                        <v-btn
                            plain
                            x-large
                            color="primary"
                            @click="getSchemaList">
                            <v-icon left>mdi-refresh</v-icon>
                            Refresh
                        </v-btn>
                    </div>
                    <br/>
                    <div class="d-flex">
                        <h2>JSON schema editor</h2>
                        <v-spacer></v-spacer>
                        <v-btn plain
                            x-large
                            color="primary"
                            @click="saveSchema">
                            <v-icon left>mdi-download</v-icon>
                            Download
                        </v-btn>
                    </div>
                    <v-jsoneditor 
                        ref="editor" 
                        v-model="schema" 
                        height="50rem"
                        @error="onError"></v-jsoneditor>
                </v-card-text>

                <v-card-text v-if="tab === 2">
                    <br />
                    <h2 v-if="schema.title" v-text="schema.title"></h2>
                    <br />
                    <v-form ref="form" v-model="isValid">
                        <v-jsf 
                            v-model="data"
                            :schema="schema" 
                            :options="options"></v-jsf>
                    </v-form>
                    <div class="d-flex">
                        <v-spacer></v-spacer>
                        <v-btn plain
                            x-large
                            color="primary"
                            @click="saveInstance">
                            <v-icon left>mdi-download</v-icon>
                            Save form data
                        </v-btn>
                    </div>
                </v-card-text>

                <v-card-text v-if="tab === 3">
                    <div class="d-flex">
                        <v-spacer></v-spacer>
                        <v-btn plain
                            x-large
                            color="primary"
                            @click="saveInstance">
                            <v-icon left>mdi-download</v-icon>
                            Save form data
                        </v-btn>
                    </div>
                    <v-jsoneditor 
                        ref="editor" 
                        v-model="data" 
                        height="50rem"
                        @error="onError"></v-jsoneditor>
                    </v-textarea>
                </v-card-text>
            </v-card>
        </v-container>

        <v-container fill-height></v-container> <!-- fills remaining horizontal space, if necessary -->

        <v-footer padless class="text-caption">
            <v-container >
                <v-row no-gutters>
                    <v-col cols="12" sm="4" class="pa-4">
                        <div class="mb-6">
                            <a href="https://www.kikirpa.be">
                                <v-img
                                    max-height="150"
                                    max-width="250"
                                    src="./img/kikirpa-logo.png"
                                    ></v-img>
                            </a>
                        </div>
                        <div class="mb-6">
                            Developed by Wim Fremout for the Royal Institute for Cultural Heritage
                        </div>
                        <div class="d-flex">
                            <a href="https://github.com/KIKIRPA/form-generator"><v-icon left>mdi-github</v-icon></a>
                            <small>
                                The <a href="https://github.com/KIKIRPA/form-generator">source code of JSON Schema Form Generator</a> is available on GitHub as open source under the <a href="https://github.com/KIKIRPA/form-generator/blob/master/LICENSE">MIT license</a>.
                            </small>
                        </div>
                    </v-col>
                    <v-divider vertical></v-divider>
                    <v-col cols="12" sm="8" class="pa-4">
                        <div class="pt-0 pb-2 text-center font-italic">
                            This tool was developed and tested as part of the work of the following projects:
                        </div>
                        <v-row no-gutters>
                            <v-col cols="12" md="6" class="pa-2">
                                <div class="pt-0 pb-2">
                                    <a href="http://hescida.kikirpa.be/" rel="nofollow">
                                        <v-img src="./img/hescida-logo.png" alt="HESCIDA" height="80" contain></v-img>
                                    </a>
                                </div>
                                <div class="d-flex justify-center">
                                    <v-img max-height="40" max-width="48" src="./img/belspo-logo.png" class="mr-2"></v-img>
                                    <v-img max-height="40" max-width="54" src="./img/be-logo.png" class="mr-2"></v-img>
                                    <small>HESCIDA is a project funded by the Belgian Science Policy PPS<br/>Grant number FSIRI/00/HE1</small>
                                </div>
                            </v-col>
                            <v-col cols="12" md="6">
                                <div class="pt-0 pb-2 pt-md-4">
                                    <a href="https://www.iperionhs.eu/" rel="nofollow">
                                        <v-img src="./img/iphs-logo.png" alt="IPERION-HS" height="80" contain></v-img>
                                    </a>
                                </div>
                                <div class="d-flex justify-center">
                                    <v-img max-height="40" max-width="60" src="./img/eu-logo.png" class="mr-2"></v-img>
                                    <small>IPERION HS is a project funded by the European Union<br/>H2020-INFRAIA-2019-1, under GA 871034</small>
                                </div>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
        </v-footer>

    </v-app>

    
    <script type="text/javascript">
        /*
            GLOBAL SCRIPT PARAMETERS

            defaultRepo: github repository where to search json schemas; format "owner/repo"
            defaultBranch: default git branch
            schemaExtension: search for files with a specific file extension
        */
        const defaultRepo = 'E-RIHS/schema'
        const defaultBranch = 'main'
        const extension = '.schema.json'


        let formOptions =  { 
            "locale": "en-gb", 
            "rootDisplay": "",
            "editMode": "inline",
            "textareaProps": {
                "filled": true,
                "auto-grow": true,
            },
            "timePickerProps": {
                "format": "24hr"
            },
            "useValidator": true,
        }

        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#af8d55'
                        },
                    },
                },
            }),

            data: {
                data: {},
                schema: {},
                form: null,
                isValid: null,
                options: formOptions,
                tab: null,
                schemaList: [],
                schemaPath: null,
                queryParams: {},
                url: null,
                shareableUrl: "",
                branch: defaultBranch,
                repo: defaultRepo,
                dataEntry: false,
            },
            
            watch: {
                schema: function (val) {
                    let encodedSchema = encodeURIComponent(JSON.stringify(val))
                    this.shareableUrl = window.location.href.split('?')[0] + "?schema=" + encodedSchema
                    if (this.dataEntry) {
                        this.shareableUrl += "&data_entry"
                    }
                    window.history.pushState({}, "", this.shareableUrl);
                }
            },

            mounted() {
                this.getQueryParams()
                this.getSchemaList()
            },

            methods: {
                getQueryParams() {
                    let query = window.location.search.substring(1)
                    let vars = query.split("&");
                    for (let i = 0; i < vars.length; i++) {
                        let pair = vars[i].split("=")
                        this.queryParams[pair[0]] = decodeURIComponent(pair[1])
                    }
                    
                    // check if the URL contains a "repo" parameter
                    if ('repo' in this.queryParams) {
                        this.repo = this.queryParams.repo
                    }

                    if ('branch' in this.queryParams) {
                        this.branch = this.queryParams.branch
                    }

                    if ('url' in this.queryParams) {
                        this.url = this.queryParams.url
                        this.getSchema()
                    }

                    if ('schema' in this.queryParams) {
                        this.schema = JSON.parse(this.queryParams.schema)
                        this.tab = 1
                    }

                    if ('data_entry' in this.queryParams) {
                        this.dataEntry = true
                        this.tab = 2
                    }
                },

                getSchemaList() {
                    let url = 'https://api.github.com/repos/' + this.repo + '/git/trees/' + this.branch + '?recursive=1'
                    axios.get(url)
                        .then(response => {
                            for (file of response.data.tree) {
                                if (file.type === 'blob' 
                                    && file.path.endsWith(extension)
                                ) {
                                    this.schemaList.push(file.path)
                                }
                            }
                            // if the URL contains a "path" parameter, try to prefetch this schema
                            if ('path' in this.queryParams) {
                                if (this.schemaList.includes(this.queryParams.path)) {
                                    this.schemaPath = this.queryParams.path
                                    this.getSchema()
                                    this.tab = 1
                                } else {
                                    console.error('"' + this.queryParams.path + '" was not found on github')
                                }
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getSchema() {
                    let url = null

                    if (this.url !== null) {
                        url = this.url
                    } else if (this.schemaPath !== null) {
                        url = 'https://raw.githubusercontent.com/' + this.repo + '/' + this.branch + '/' + this.schemaPath
                    } else {
                        return null
                    }

                    axios.get(url)
                        .then(response => {
                            this.schema = response.data
                            let directUrl = window.location.href.split('?')[0] + "?url=" + encodeURIComponent(url)
                            if (this.dataEntry) {
                                directUrl += "&data_entry"
                            }
                            console.log("The following URL will prefetch the JSON schema from github: " + directUrl)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                saveSchema() {
                    let text = JSON.stringify(this.schema, null, "    ")
                    let filename = (this.schema.title !== undefined) ? this.schema.title : Date.now()
                    filename += extension
                    let element = document.createElement('a')
                    element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(text))
                    element.setAttribute('download', filename)
                    element.style.display = 'none'
                    document.body.appendChild(element)
                    element.click()
                    document.body.removeChild(element);    
                },

                saveInstance() {
                    let text = JSON.stringify(this.data, null, "    ")
                    let filename = (this.data.id !== undefined) ? this.data.id : Date.now()
                    filename += '.json'
                    let element = document.createElement('a')
                    element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(text))
                    element.setAttribute('download', filename)
                    element.style.display = 'none'
                    document.body.appendChild(element)
                    element.click()
                    document.body.removeChild(element);    
                },

                onError(err){
                    console.log(err)
                },
            }
        })
    </script>

</body>
</html>