<!DOCTYPE html>
<html>
<head>
    <title>Bits of Bytes: Form Generator</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    
    
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/third-party.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/main.css">

    <script src="./dist/v-jsoneditor.min.js"></script>
</head>

<body>
    <v-app id="app">

        <v-app-bar
            dark
            shrink-on-scroll
            src="http://balat.kikirpa.be/image/thumbnail/X126922.jpg">
            <v-btn plain href="/">
                <v-icon left>mdi-chevron-left</v-icon>
                Other Bits of Bytes
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title>JSON Schema Form Generator</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn plain href="https://github.com/KIKIRPA/form-generator" target="_blank">
                Code on GitHub
                <v-icon right>mdi-github</v-icon>
            </v-btn>
        </v-app-bar>

        <v-container>
            <v-card class="mt-6">
                <v-card-title>
                    <v-tabs v-model="tab" grow>
                        <v-tab><v-icon>mdi-information-outline</v-icon></v-tab>
                        <v-tab>Schema</v-tab>
                        <v-tab>Form</v-tab>
                        <v-tab>Instance</v-tab>
                    </v-tabs>
                </v-card-title>
                <v-card-text v-if="tab === 0">
                    <br/>
                    <h2>JSON Schema Form Generator</h2><br/>
                    <p>
                        This tool generates nice webforms based on a <a href="https://json-schema.org/">JSON schema</a>. 
                        Internally, it uses <a href="https://github.com/koumoul-dev/vuetify-jsonschema-form">VJSF</a>, a component for Vue.js and Vuetify.
                        Besides standard JSON schema, VJSF supports a few additional properties, mainly for rendering purposes.
                    </p>
                    <p>
                        To get started, put a valid JSON schema in the editor on the "Schema" tab. 
                        VJSF will automatically generate a form, that can be viewed on the "Form" tab. 
                        Data entered in the form will automatically entered in the instance (in JSON format), which can be viewed on the "Instance" tab.
                        Conversely, data entered in the instance editor will automatically be entered in the form.
                    </p>
                    <p>
                        No data is sent to the server. Both the schema and the instance are living locally in your browser.
                    </p>
                    <p>
                        TO DO: VJSF has very basic validation. An external JSON schema validator library can be used instead.
                    </p><br/>
                    <h2>Credits</h2><br/>
                    <ul>
                        <li><a href="https://github.com/koumoul-dev/vuetify-jsonschema-form">VJSF</a> by Alban Mouton</li>
                        <li><a href="https://github.com/yansenlei/VJsoneditor">v-jsoneditor</a> by yansenlei</li>
                    </ul><br/>
                    <h2>Code</h2><br/>
                    <p><a href="https://github.com/KIKIRPA/form-generator">github.com/KIKIRPA/form-generator</a></p>
                </v-card-text>

                <v-card-text v-if="tab === 1">
                    <br/>
                    <h2>Load an existing JSON schema</h2><br/>
                    <div class="d-flex">
                        <v-autocomplete
                            class="mr-4"
                            v-model="schemaPath"
                            :items="schemaList"
                            clearable
                            @change="getSchema"></v-autocomplete>
                        <v-btn
                            plain
                            x-large
                            color="primary"
                            @click="getSchemaList">
                            <v-icon left>mdi-refresh</v-icon>
                            refresh
                        </v-btn>
                    </div>
                    <br/>
                    <h2>JSON schema editor</h2><br/>
                    <v-jsoneditor 
                        ref="editor" 
                        v-model="schema" 
                        height="50rem"
                        @error="onError"></v-jsoneditor>
                </v-card-text>

                <v-card-text v-if="tab === 2">
                    <v-form ref="form" v-model="isValid">
                        <v-jsf 
                            v-model="data"
                            :schema="schema" 
                            :options="options"></v-jsf>
                    </v-form>
                </v-card-text>

                <v-card-text v-if="tab === 3">
                    <v-jsoneditor 
                        ref="editor" 
                        v-model="data" 
                        height="50rem"
                        @error="onError"></v-jsoneditor>
                    </v-textarea>
                </v-card-text>
            </v-card>
        </v-container>

        <v-container fill-height></v-container> <!-- fills remaining horizontal space, if necessary -->

        <v-footer padless>
            <v-container fluid>
                <div class="pt-0 text-center">
                    &copy; {{ new Date().getFullYear() }} <em>KIK-IRPA</em>
                </div>
            </v-container>
        </v-footer>

    </v-app>

    
    <script type="text/javascript">
        /*
            GLOBAL SCRIPT PARAMETERS

            repo: github repository where to search json schemas; format "owner/repo"
            branch: git branch
            schemaExtension: search for files with a specific file extension
        */
        const repo = 'E-RIHS/hs-interoperability'
        const branch = 'main'
        const extension = '.schema.json'


        const formOptions =  { 
            "locale": "en-gb", 
            "editMode": "inline",
            "textareaProps": {
                "filled": true,
                "auto-grow": true,
            },
            "timePickerProps": {
                "format": "24hr"
            }
        }

        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#af8d55'
                        },
                    },
                },
            }),

            data: {
                data: {},
                schema: {},
                form: null,
                isValid: null,
                options: null,
                tab: null,
                schemaList: [],
                schemaPath: null,
            },

            mounted() {
                this.getSchemaList()
            },

            methods: {
                getSchemaList() {
                    let url = 'https://api.github.com/repos/' + repo + '/git/trees/' + branch + '?recursive=1'
                    axios.get(url)
                        .then(response => {
                            for (file of response.data.tree) {
                                if (file.type === 'blob' 
                                    && file.path.endsWith(extension)
                                ) {
                                    this.schemaList.push(file.path)
                                }
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getSchema() {
                    if (this.schemaPath !== null) {
                        let url = 'https://raw.githubusercontent.com/' + repo + '/' + branch + '/' + this.schemaPath
                        axios.get(url)
                            .then(response => {
                                this.schema = response.data
                            })
                            .catch(error => {
                                console.log(error)
                            })
                    }
                },

                onError(err){
                    console.log(err)
                },
            }
        })
    </script>

</body>
</html>